.city__timer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-right: 3rem;
    text-align: center;
    
}
.city__timer .hour {
    border-radius: 50%;
    background-color: rgb(130, 186, 186);
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1rem;
}
